body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0, 0, 1rem;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
/* Container
===================*/
.bg__container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.8);
}
.main__container {
  width: 100%;
  max-width: 1216px;
  margin: 0 auto;
}
.wrapper {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
input {
  width: 98%;
  border: 0px;
  background: transparent;
  border-bottom: 2px solid green;
  outline: none;
  color: #fff;
  font-weight: normal;
  font-size: 18px;
}
.search__cont {
  width: 800px;
  height: 50px;
  background-color: red;
  text-align: center;
  line-height: 48px;
}
#header {
  height: 480px;
  background: url("img/background.png");
  position: relative;
}
.cards {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  padding-bottom: 10rem;
}
.card {
  background: #1a1a1a;
  border-radius: 8px;
  cursor: pointer;
  filter: drop-shadow(0 10px 30px rgba(0, 0, 0, 0.4));
}
.card:hover {
  filter: drop-shadow(0 10px 40px rgba(37, 136, 167, 0.38));
}
.icon {
  margin-top: 93px;
  width: 80px;
  height: 80px;
}
.card__info {
  text-align: center;
}
.name {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  margin-top: 10px;
  margin-bottom: 9px;
  font-feature-settings: "liga" off;
}
.spicies {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #808080;
  margin-bottom: 92px;
}
.footer {
  background-color: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}
.footer__title {
  margin: 0 auto;
  letter-spacing: 0.11em;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}
