body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  background-color: #e5e5e5;
}
body.no-scroll {
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0, 0, 1rem;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.bg__container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.8);
}
.main__container {
  width: 100%;
  max-width: 1216px;
  margin: 0 auto;
  padding: 1.5rem;
}
#header {
  height: 480px;
  background: url("img/background.png");
  background-position: center;
  background-size: cover;
  position: relative;
}
.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.logo__content {
  padding-top: 9px;
  padding-bottom: 9px;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.11em;
  text-transform: uppercase;
}
.wrapper {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.input__form {
  position: relative;
  height: 56px;
}
label {
  padding-top: 20px;
}
.label__text {
  color: #808080;
  transform: translateY(-28px);
  cursor: text;
  font-size: 18px;
  transition: all 0.2s;
}
input {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #808080;
  outline: 0;
  width: 800px;
  color: #808080;
  font-size: 18px;
}
input:focus + .label__text {
  font-size: 13px;
  transform: translateY(-39px);
}
input:valid + .label__text {
  font-size: 13px;
  transform: translateY(-39px);
}
.fa-search {
  width: 24px;
  height: 24px;
  position: absolute;
  top: -9px;
  right: 10px;
}
.cards {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  padding-bottom: 10rem;
}
@media (max-width: 760px) {
  .cards {
    grid-template-columns: none;
    grid-template-rows: repeat(auto, 1fr);
    grid-gap: 24px;
  }
}
.card {
  background: #1a1a1a;
  border-radius: 8px;
  cursor: pointer;
  filter: drop-shadow(0 10px 30px rgba(0, 0, 0, 0.4));
}
.card:hover {
  filter: drop-shadow(0 10px 40px rgba(37, 136, 167, 0.38));
}
.icon {
  width: 80px;
  height: 80px;
}
.card__info {
  margin-top: 93px;
  text-align: center;
  margin-bottom: 92px;
}
.name {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  margin-top: 10px;
  margin-bottom: 9px;
}
.spicies {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #808080;
}
.footer {
  background-color: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}
.footer__title {
  margin: 0 auto;
  letter-spacing: 0.11em;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}
.modal {
  display: none;
  width: 100%;
  height: 100%;
  padding: 1rem;
  overflow: auto;
  background-color: rgba(128, 128, 128, 0.01);
  backdrop-filter: blur(15px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.modal.show {
  display: flex;
}
.modal__dialog {
  width: 100%;
  max-width: 800px;
  margin: auto;
  position: relative;
  background-color: #1a1a1a;
  border-radius: 8px;
  transform: scale(0);
  transition: transform 0.2s linear;
}
.modal__close {
  width: 22px;
  height: 22px;
  padding: 0;
  background: none;
  border: 0;
  cursor: pointer;
  position: absolute;
  top: 0.9rem;
  right: 1rem;
  z-index: 1;
}
.modal__close:focus {
  outline: none;
}
.modal-work__content {
  width: 100%;
  padding: 80px 80px 76px 80px;
  position: relative;
}
.inform__block {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #808080;
}
.icon__modal {
  width: 20px;
  height: 20px;
  margin-right: 11px;
}
.icon--inform {
  margin-right: 1rem;
  margin-bottom: 80px;
}
.user__name {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 84px;
}
.elements {
  display: grid;
  max-width: 520px;
  margin-top: 71px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1.25rem;
}
.el__block {
  display: flex;
  align-items: center;
}
.user__inform {
  font-size: 18px;
  line-height: 21px;
  color: #808080;
}
.inform__text {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
}
