// main: ../style.less
.modal {
  display: none;
  width: 100%;
  height: 100%;
  padding: 1rem;
  overflow: auto;

  background-color: rgba(128, 128, 128, 0.01);
  backdrop-filter: blur(15px);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  &.show {
    display: flex;
  }
}

.modal__dialog {
  width: 100%;
  max-width: 800px;
  margin: auto;
  position: relative;

  background-color: @black;
  border-radius: 8px;

  transform: scale(0);
  transition: transform 0.2s linear;
}

.modal__close {
  width: 22px;
  height: 22px;
  padding: 0;

  background: none;
  border: 0;
  cursor: pointer;

  position: absolute;
  top: 0.9rem;
  right: 1rem;
  z-index: 1;

  &:focus {
    outline: none;
  }
}

.modal-work__content {
  width: 100%;
  padding: 80px 80px 76px 80px;
  position: relative;
}
.inform__block {
  display: flex;
  align-items: center;
  border-bottom: 2px solid @gray;
}
.icon__modal {
  width: 20px;
  height: 20px;
  margin-right: 11px;
}

.icon--inform {
  margin-right: 1rem;
  margin-bottom: 80px;
}

.user__name {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 84px;
}
.elements {
  display: grid;
  max-width: 520px;
  margin-top: 71px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1.25rem;
}

.el__block {
  display: flex;
  align-items: center;
}

.user__inform {
  font-size: 18px;
  line-height: 21px;
  color: @gray;
}
.inform__text {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
}
