// main: ../style.less

.cards {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  margin: 0 1.5rem 10rem;

  @media @mobile-breakpoint {
    grid-template-columns: none;
    grid-template-rows: repeat(auto, 1fr);
    grid-gap: 24px;
    margin-bottom: 7.5rem;
  }
}

.card {
  background: @black;
  border-radius: 8px;
  cursor: pointer;
  filter: drop-shadow(0 10px 30px rgba(0, 0, 0, 0.4));

  &:hover {
    filter: drop-shadow(0 10px 40px rgba(37, 136, 167, 0.38));
  }
}

.card__info {
  padding-top: 93px;
  text-align: center;
  padding-bottom: 92px;

  @media @mobile-breakpoint {
    padding-top: 33px;
    padding-bottom: 32px;
  }
}

.name {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  padding-top: 10px;
  padding-bottom: 9px;
}

.spicies {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: @gray;
}
